<aside class="sidebar">

  <div class="sidebar-container">
    <div class="sidebar-logo">
      <a href="{{site.baseurl}}/" class="logo">{% if site.name %}{{site.name}}{% else %}Fresh{% endif %}</a>
    </div>

    <menu class="sidebar-menu">
      <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/">Home</a></li>
      <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/about/">About</a></li>
      <li class="menu-items"><a class="menu-links" href="https://github.com/gh0stkey">Github</a></li>
      <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/links/">Links</a></li>
    </menu>

    <div class="sidebar-social">
      Copyright &copy; Vulkey_Chen's Blog 2017-2018.
    </div>

  </div>
</aside>
